:root {
  --primary: #072957 !important;
  /* --primary: white !important; */
  --secondary: #068ecd !important;
  --light: #072a57ab;
  --footer: #0b0b0b;
}
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.clr-primary {
  background-color: var(--primary);
}
.clr-secondary {
  background-color: var(--secondary);
}
.clr-light {
  background-color: var(--light);
}
.clr-footer {
  background-color: var(--footer);
}

.pricing-table {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card-header {
  background-color: var(--secondary);
  color: white;
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 20px 0;
}
.price-border-bottom{
    border-bottom: 1px solid var(--secondary) !important;
}
.card-body {
  padding: 30px;
  text-align: center;
}

.card-footer {
  background-color: #f8f9fa;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
/* .price-table {
    opacity: 1;
    transition: all  ease-in-out;
    transition-delay: 0.5s;
    animation: fadeIn 10s backwards;
    animation-timeline: scroll();
}
@keyframes fadeIn {
  to {
    opacity: 0;
  }
} */
.price-btn:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}
